<!DOCTYPE html>
<html>
    <style>
    table, th, td {
      border:1px solid black;
    }
    </style>
    <head>
        <title>Bug Details</title>
    </head>
    <body>
        <p>Bug Details: {{ bug_details }}</p>

        <table>
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in result.items() %}
            <tr>
                <td> {{ key }} </td>
                <td> {{ value }} </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>