<!DOCTYPE html>
<html>
<head>
    <title>Database</title>
</head>
<body>
    <p> The Python Sqlite3 library provides simple interface with a Sqlite3. <br>
    I chose it due to its ease of implementation, python compatibility, and abundant documentation. <br>
    The database directory contains bug_tracker.db, tests.py, and titanic_db.py. The latter contains <br>
    logic for initialization of and interfacing with the database. Instructions for reinitializing <br>
    the db are available in README.md. </p>
    <p> Documentation on the Sqlite3 Python library may be found <a href="https://docs.python.org/3/library/sqlite3.html">here</a><br /> </p>
</body>
</html>