<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <p>Welcome to the Titanic bug tracker</p>
  <p>Why not: </p>
  <a href="open_bugs">1) View the list of open bugs</a><br />
  <a href="bug_details">2) View the details of an individual bug</a><br />
  <a href="3">3) Create a bug</a><br />
  <a href="4">4) Close a bug</a><br />
  <a href="5">5) Assign a bug</a><br />
  <a href="6">6) Add a new user</a><br />
  <a href="7">7) Change a user's name</a><br />
  <a href="8">8) Admire this beautiful web application</a><br />
  <a href="9">9) Check out the API</a><br />
  <a href="10">10) Learn about the database</a><br />
  <br />
</body>
</html>